<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>Ollivander's shop</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>Ollivander's shop!</h1>
            </div>
            <div class="row">
                <div class="col">
                    <p>La tienda de varitas de Ollivander, también conocida simplemente como Ollivanders, es una tienda de varitas fundada en el 382 a.C.
                    ubicada en el lado sur del Callejón Diagon en Londres, Inglaterra. 
                    Es propiedad de la familia Ollivander, extensamente reconocida como los mejores fabricantes de varitas en Gran Bretaña.</p>
                </div>
                <div class="col">
                    <p style="text-aling:rigth"> direccion: <a>Callejón Diagón, Londres, Inglaterra</a></p>
                </div>
            </div>
            <div class="row">
                <h1> Artículos en Venta </h1>
                <br>
            </div>
                <div class="row">
                <h3> Día 1 </h3>
                <div class="row">
                   
                </div>
                </div>
            
        </div>
    </body>
</html>