
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class=""container>
        <head>
            
            {% block title %}OlLivander's shop {% block %}
        </head>
        <h1>hello world!</h1>
        <p>Ollivander's shop!</p>

        <div class="alert alert-primary" role="alert">
        This is a primary alert—check it out!
        </div>
        <div class="alert alert-secondary" role="alert">
        This is a secondary alert—check it out!
        </div>
        <div class="alert alert-success" role="alert">
        This is a success alert—check it out!
        </div>
        <div class="alert alert-danger" role="alert">
        This is a danger alert—check it out!
        </div>
        <div class="alert alert-warning" role="alert">
        This is a warning alert—check it out!
        </div>
        <div class="alert alert-info" role="alert">
        This is a info alert—check it out!
        </div>
        <div class="alert alert-light" role="alert">
        This is a light alert—check it out!
        </div>
        <div class="alert alert-dark" role="alert">
        This is a dark alert—check it out!
        </div>
    </div>
{% endblock %}    